<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Loviště - Administrace </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<LINK REL=StyleSheet HREF="shreck.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
<div align="center">
<img style="border:0" src="img/moths.png" alt="No rest for the wicked." title="No rest for the wicked.">
<div th:if="${message}">
    <p th:text="'Ahoj, ' + ${message}"/>
</div>

<font size ="+1">
<div>
    <a href='/admin/users'>Hráči</a>
    <br />
		<br />
    <a href='/admin/spots'>Loviště</a>
    <br />
		<br />
    <a href='/admin/logs'>Logy</a>
		<br />
</div>
</div>
</font>
</body>
</html>