<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Loviště - logy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<LINK REL=StyleSheet HREF="shreck.css" TYPE="text/css" MEDIA=screen>
</head>
<body>

<div th:if="${message}">
    <p th:text="${message}"/>
</div>

<table>
    <thead>
    <tr>
        <th> Datum</th>
        <th> Zpráva</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${logs.empty}">
        <td colspan="2"> Žádné logy neexistují</td>
    </tr>
    <tr th:each="log : ${logs}">
        <table >
            <tbody>
            <tr>
                <td>
                    <div th:with="timeZone=${T(java.util.TimeZone).getTimeZone('CET')}">

                        <span th:text="${T(com.xtree.huntigrounds.Renderer).getTime(log.time, timeZone)}"></span>

                    </div>
                </td>
                <td><span th:text="${log.message}"> Zpráva </span></td>
            </tr>
            </tbody>
        </table>
    </tr>
    </tbody>
</table>
<br>
<a href='/admin'>Domů</a>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>