<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hunting grounds - admin spots</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello admin, ' + ${name} + '!'"/>

<div th:if="${message}">
    <p th:text="${message}"/>
</div>

<table>
    <thead>
    <tr>
        <th> Spot Code</th>
        <th> Might</th>
        <th> Place</th>
        <th> Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${spots.empty}">
        <td colspan="2"> No Spots Available</td>
    </tr>
    <tr th:each="spot : ${spots}">
        <table>
            <tbody>
            <tr>
                <td width=100><span th:text="${spot.code}"> Spot Code </span></td>
                <form th:action="@{'/admin/changespot/'+${spot.code}}" th:object="${spot}" method="post">
                    <td width=100>
                        <input type="text" name="might" th:value="${spot.might}">
                    </td>
                    <td width=150>
                        <input type="text" name="place" th:value="${spot.address}">
                    </td>
                    <td width=300>
                        <input type="text" name="description" th:value="${spot.description}">
                    </td>
                    <td width=200 th:if="${spot.randevouz != null}" th:with="timeZone=${T(java.util.TimeZone).getTimeZone('CET')}">
                        <span th:text="${T(com.xtree.huntigrounds.Renderer).getTime(spot.randevouz, timeZone)}"> Time </span>
                    </td>
                    <td width=100 th:if="${spot.owner != null}"><span th:text="${spot.owner.username}"> Owner </span>
                    </td>
                    <td width=100><input type="submit" value="update"/></td>
                </form>
            </tr>
            <tr th:each="pwning : ${spot.pwnings}">
                <td width=100></td>
                <td><span th:text="${pwning.user.username}"> username </span></td>
            </tr>
            </tbody>
        </table>
    </tr>
    </tbody>
</table>
<form th:action="@{/admin/addspot}" method="post">
    <input type="text" name="code">
    <input type="text" name="might">
    <input type="text" name="address">
    <input type="text" name="description">
    <input type="submit" value="add spot"/>
</form>

<br>
<a href='/admin'>HOUM</a>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>