<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hunting grounds - spot information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="
'Hello, ' + ${name} + ' you are on hunting place '+
 ${spot.code} + ' that provides <br>' +
 ${spot.might} + ' units of universe power per day <br>' +
 ${spot.address} + '<br>' +
 ${spot.description}
" />

<div th:if="${owner}">
    <p th:text="'owner is '+${owner}" />
</div>
<div th:if="${message}">
    <p th:text="${message}" />
</div>


<form th:action="@{/hunt}" method="get">
    <input type="hidden" name="code" th:value="${spot.code}" />
    <input type="submit" value="FIGHT"/>
</form>

<form th:action="@{/user}" method="get">
    <input type="submit" value="WITHDRAW"/>
</form>

<br>
<a href='/'>HOUM</a>
<br>

</body>
</html>