<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administrace lovišť</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
				<LINK REL=StyleSheet HREF="../shreck.css" TYPE="text/css" MEDIA=screen>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript">
    $(document).on('submit', 'form[data-confirm]', function(e){
    if(!confirm($(this).data('confirm'))){
        e.stopImmediatePropagation();
        e.preventDefault();
     }
    });
		</script>
</head>
<body>
<div align="center">
<p th:text="'Přihlášen administrátor: ' + ${name} + '!'"/>
<br><br>
<font size="+2"> Seznam lovišť </font> 
<br><br>
<div th:if="${message}">
    <p th:text="${message}"/>
</div>

<table>
    <thead>
    <tr>
        <th> Kód </th>
        <th> Síla</th>
        <th> Adresa</th>
				<th> Enabled</th>
        <th> Popis</th>
				<th> Čas záboru </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${spots.empty}">
        <td colspan="6"> Loviště nejsou</td>
    </tr>
    <tr th:each="spot : ${spots}">
			<td width=150><span th:text="${spot.code}"> Kód </span></td>
			<form th:action="@{'/admin/changespot/'+${spot.code}}" th:object="${spot}" method="post">
				<td width=50>
						<input type="text" name="might" th:value="${spot.might}">
				</td>
				<td width=150>
						<input type="text" name="place" th:value="${spot.address}">
				</td>
        <td width=20>
            <input type="checkbox" name="enabled" th:checked="${spot.enabled}">
        </td>				
				<td width=200>
						<input type="text" name="description" th:value="${spot.description}">
				</td>
				<td width=150 th:if="${spot.randevouz != null}" th:with="timeZone=${T(java.util.TimeZone).getTimeZone('CET')}">
						<span th:text="${T(com.xtree.huntigrounds.Renderer).getTime(spot.randevouz, timeZone)}"> Čas záboru </span>
				</td>
				<td width=150 th:if="${spot.randevouz == null}">
             Zábor neprobíhá
        </td>
				<td width=100 th:if="${spot.owner != null}"><span th:text="${spot.owner.username}"> Vlastník </span>
				</td>
				<td width=100><input type="submit" value="update"/></td>
			</form>
		</tr>
		<tr>
			<td colspan="6">
				<table>
					<tbody>
						<tr th:if="${spot.pwnings.empty}">
							<td></td>
						</tr>
						<tr th:each="pwning : ${spot.pwnings}">
							<td width=100></td>
							<td><span th:text="${pwning.user.username}"> username </span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
  </tbody>
</table>
<br>
<br>
<form th:action="@{/admin/addspot}" method="post">
    Kód:<input type="text" name="code">
    Síla:<input type="text" name="might">
    Adresa:<input type="text" name="address">
    Popis:<input type="text" name="description">
    <input type="submit" value="add spot"/>
</form>
<br>
<br>
<a href='/admin'>Domů</a>
<br>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Odhlásit se"/>
</form>
<img style="border:0" src="../img/moths.png" alt="No rest for the wicked." title="No rest for the wicked.">
</div>
</body>
</html>