<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administrace uživatelů</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
				<LINK REL=StyleSheet HREF="../shreck.css" TYPE="text/css" MEDIA=screen>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript">
    $(document).on('submit', 'form[data-confirm]', function(e){
    if(!confirm($(this).data('confirm'))){
        e.stopImmediatePropagation();
        e.preventDefault();
     }
    });
</script>
</head>
<body>
<div align="center">
<p th:text="'Přihlášen admin, ' + ${name} + '!'"/>
<div th:if="${message}">
    <p th:text="${message}"/>
</div>


<table>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> Lovci nejsou </td>
    </tr>
    <tr th:each="hunter : ${users}">
        <table>
				<thead>
				<tr>
					<th> Lovec </th>
					<th> Síla </th>
					<th> Limit </th>
					<th> poměr moc/eura </th>
					<th> Akce </th>
					<th> Akce </th>
				</tr>
				</thead>
            <tbody>
            <tr>
                <td width=100><span th:text="${hunter.username}"></span></td>
                <form th:action="@{'/admin/updateuser/'+${hunter.id}}" th:object="${hunter}" method="post">
                    <td width=100><br><input type="text" name="might" th:value="${hunter.might}"></td>
                    <td width=100><br><input type="text" name="limit" th:value="${hunter.limit}"></td>
                    <td width=100><br><input type="text" name="exchange_rate" th:value="${hunter.exchange_rate}"></td>
                    <td width=100><input type="submit" value="Aktualizovat"/></td>
                </form>
                <form th:action="@{'/admin/deleteuser/'+${hunter.id}}" th:object="${hunter}" method="post"  data-confirm="Opravdu Chceš smazat uživatele?">
                    <td width=100 class="delete"><input type="submit" value="SMAZAT"/></td>
                </form>
            </tr>
						<table class="pwning">
						<thead>
						<tr>
						<th></th>
						<th> Adresa </th>
						<th> Čas zabírání </th>
						</tr>
						</thead>
            <tr th:each="pwning : ${hunter.pwnings}">
                <td width=100 > zabírá místo</td>
                <td ><span th:text="${pwning.code.address}"> </span></td>
                <td width=200 th:if="${pwning.code.randevouz != null}" th:with="timeZone=${T(java.util.TimeZone).getTimeZone('CET')}">
                    <span th:text="${T(com.xtree.huntigrounds.Renderer).getTime(pwning.code.randevouz, timeZone)}"> doba záboru </span>
                </td>
            </tr>
						</table>
            </tbody>
        </table>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/admin/adduser}" method="post">
    <input type="text" name="username">
    <input type="submit" value="Přidat uživatele"/>
</form>
<br>
<a href='/admin'>Domů</a>
<br>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Odhlásit se"/>
</form>
</body>
</div>
</html>