<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Loviště - profil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
				<LINK REL=StyleSheet HREF="shreck.css" TYPE="text/css" MEDIA=screen>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript">
    $(document).on('submit', 'form[data-confirm]', function(e){
    if(!confirm($(this).data('confirm'))){
        e.stopImmediatePropagation();
        e.preventDefault();
     }
    });
</script>
</head>

<body>
<div align="center">
<p th:text="' ... ' + ${hunter.username} + ' ... '" />
<br>
<font size="+2">Tvá loviště a moc.</font>
<br />
<br />
Tvůj limit na počet lovišť (vlastněná + zabíraná): <br />
<font size = "+1"><p th:text="${hunter.limit}"/></font>
<br />

<div th:if="${message}">
    <p th:text="${message}" />
</div>

<p >Loviště vlastněná:</p>
<table>
				<thead>
						<tr>
							<th> Místo </th>							
							<th> Výnos moc/den </th>							
							<th> Popis </th>
							<th> Čas případného záboru </th>
						</tr>
				</thead>
    <tbody>
    <tr th:if="${hunter.spotsOwned.empty}">
        <td colspan="4" align="center"> Nic nemáš!</td>
    </tr>
    <tr th:each="spot : ${hunter.spotsOwned}">
        <td width=50><span th:text="${spot.might}"> Výnos moc/den </span></td>
        <td width=150><span th:text="${spot.address}"> Místo </span></td>
        <td width=200><span th:text="${spot.description}"> Popis </span></td>
        <td width=100 th:if="${spot.randevouz != null}" th:with="timeZone=${T(java.util.TimeZone).getTimeZone('CET')}">
            <span th:text="${T(com.xtree.huntigrounds.Renderer).getTime(spot.randevouz, timeZone)}"> Čas záboru </span>
        </td>
    </tr>
    </tbody>
</table>
<p>Loviště zabíraná:</p>
<table>
    <tbody>
				<thead>
						<tr>
							<th> Místo </th>
							<th> Výnos moc/den </th>
							<th> Popis </th>
							<th> Čas záboru </th>
						</tr>
				</thead>
    <tr th:if="${hunter.pwnings.empty}">
        <td colspan="4" align="center"> Nic takového se neděje.</td>
    </tr>
    <tr th:each="pwning : ${hunter.pwnings}">
        <td width=150><span th:text="${pwning.code.address}"> Místo </span></td>
        <td width=50><span th:text="${pwning.code.might}"> Výnos moc/den </span></td>
        <td width=200><span th:text="${pwning.code.description}"> Popis </span></td>
        <td width=100 th:if="${pwning.code.randevouz != null}" th:with="timeZone=${T(java.util.TimeZone).getTimeZone('CET')}">
            <span th:text="${T(com.xtree.huntigrounds.Renderer).getTime(pwning.code.randevouz, timeZone)}"> Čas záboru </span>
        </td>
    </tr>
    </tbody>
</table>

<br / >
<p th:text="'Máš ' + ${hunter.might} + ' bodů moci'" />
<form  th:if="${ !hunter.spotsOwned.empty}" th:action="@{'/lowermight'}" method="post" data-confirm="Jsi si jistá/ý že chceš výměnu provést?">
		<p th:text="'Možno proměnit za Libry v poměru' + ${hunter.exchange_rate} + ' moc/Libra' "/>
    <input type="text" name="exchanged_might" th:value="${hunter.might}">
    <input type="submit" value="Provést výměnu"/>
</form>

<br / >
<table><tr><td align="center" colspan=2 ><font size="+1">Změnit heslo</font><br><br></td></tr>
<form th:action="@{/passchange}" method="post">
	<tr><td align="center" colspan=2>
		Staré heslo:<input type="text" name="old_pass"><br><br>
		</td></tr>
		<tr><td align="center">
		Nové heslo:<input type="text" name="new_pass"> <br><br>
		</td>
		<td align="center">
		Nové heslo znovu:<input type="text" name="new_pass_two"> <br><br>
		</td></tr>
		<tr><td align="center" colspan=2>
    <input type="submit" value="Změnit"/>
		</td></tr>
</form>
</td></tr></table>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Odhlásit se"/>
</form>
</div>
</body>
</html>