<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hunting grounds - user profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript">
    $(document).on('submit', 'form[data-confirm]', function(e){
    if(!confirm($(this).data('confirm'))){
        e.stopImmediatePropagation();
        e.preventDefault();
     }
    });
</script>
</head>

<body>
<p th:text="'Hello, ' + ${hunter.username} + ' you have ' + ${hunter.might} + ' units of might'" />
<p th:text="'and you are limited to ' + ${hunter.limit} + ' hunting grounds'"/>
<p th:text="'your might exchange rate  is ' + ${hunter.exchange_rate} + 'might units /euro' "/>

<div th:if="${message}">
    <p th:text="${message}" />
</div>

<p >Owned:</p>
<table>
    <tbody>
    <tr th:if="${hunter.spotsOwned.empty}">
        <td colspan="2"> No Spots Owned</td>
    </tr>
    <tr th:each="spot : ${hunter.spotsOwned}">
        <td width=100><span th:text="${spot.code}"> Spot Code </span></td>
        <td width=100><span th:text="${spot.might}"> Might </span></td>
        <td width=150><span th:text="${spot.address}"> Place </span></td>
        <td width=300><span th:text="${spot.description}"> Description </span></td>
        <td width=200 th:if="${spot.randevouz != null}" th:with="timeZone=${T(java.util.TimeZone).getTimeZone('CET')}">
            <span th:text="${T(com.xtree.huntigrounds.Renderer).getTime(spot.randevouz, timeZone)}"> Time </span>
        </td>
    </tr>
    </tbody>
</table>
<p>Atacked:</p>
<table>
    <tbody>
    <tr th:if="${hunter.pwnings.empty}">
        <td colspan="2"> No attacked spots</td>
    </tr>
    <tr th:each="pwning : ${hunter.pwnings}">
        <td width=150><span th:text="${pwning.code.address}"> Place </span></td>
        <td width=100><span th:text="${pwning.code.might}"> Might </span></td>
        <td width=300><span th:text="${pwning.code.description}"> Description </span></td>
        <td width=200 th:if="${pwning.code.randevouz != null}"><span th:text="${pwning.code.randevouz}"> Time </span></td>
    </tr>
    </tbody>
</table>

<form  th:if="${ !hunter.spotsOwned.empty}" th:action="@{'/lowermight'}" method="post" data-confirm="Are you sure with the exchange?">
    <input type="text" name="exchanged_might" th:value="${hunter.might}">
    <input type="submit" value="exchange"/>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>